<!-- <form #signUpForm="ngForm" (ngSubmit)="onSubmitHit(signUpForm, user)">
    <div class="FormBorder">
        <p>UserName</p>
        <input [(ngModel)]="user.Fullname" name="Fullname">
        <p>Email-id</p>
        <input [(ngModel)]="user.Email" name="Email">
        <p>Password</p>
        <input [(ngModel)]="user.Password" name="Password" placeholder="Password">
        <button type="submit">Submit</button>
    </div>
</form> -->

<div class="getInMiddle" >

<form #signUpForm="ngForm" id="form-structure" (ngSubmit)="onSubmitHit(signUpForm, user)">
    <div class="font-style" style="text-align: center; font-weight: 700; color:#117a8b;">Sign-Up Form</div><br>
        <div class="form-group">
            <label class="font-style">User Name</label>
            <input type="text" class="form-control InputSize" [(ngModel)]="user.Fullname" name="Fullname" id="exampleInputFullname" placeholder="Enter name....">
          </div>
        <div class="form-group">
          <label class="font-style">Email address</label>
          <input type="email" class="form-control InputSize"  [(ngModel)]="user.Email" name="Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email....">
        </div>
        <div class="form-group">
          <label class="font-style">Password</label>
          <input type="password" class="form-control InputSize"  [(ngModel)]="user.Password" name="Password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>

</div>

<button type="button" (click)="getUser()">Get</button>